# サンプルコードへの直接アクセスを禁止する
# （設置するときは中身を書き換えて、公開ディレクトリへコピーして使う）
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
